* {
    margin:0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #505050;
}
/* headins and logo */

h1 {
    font-family: Poppins, sans-serif;
    font-size: 32 px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}
h2 {
    font-family: Poppins, sans-serif;
    font-size: 24 px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}
h3 {
    font-family: Poppins, sans-serif;
    font-size: 18 px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 16 px;
    font-weight: 300; 
}

#logo {
    float: left;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 40px;
    border-bottom: 1px solid;
    margin-left: 30px;
    margin-bottom: 10px;
}

/* navigation links */

#menu {
    font-family: Poppins, sans-serif;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: #252525;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/*Map Image*/

#map-image {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url('../images/ylanite-koppens.jpg');
    background-size: 100%;
}